.q1-9 {
  position: absolute;
  padding: 5px;
  top: 14%;
  left: 57.3%;
}
.q2-9 {
  position: absolute;
  padding: 5px;
  top: 48.5%;
  left: 31.5%;
}
.q3-9 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 41%;
}
.q4-9 {
  position: absolute;
  padding: 5px;
  top: 42.5%;
  left: 23%;
}
.q5-9 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 82.7%;
}
.q6-9 {
  position: absolute;
  padding: 5px;
  top: 38%;
  left: 42.5%;
}
.q7-9 {
  position: absolute;
  padding: 5px;
  top: 3%;
  left: 31%;
}
.q8-9 {
  position: absolute;
  padding: 5px;
  top: 5.5%;
  left: 41.5%;
}
.q9-9 {
  position: absolute;
  padding: 5px;
  top: 66%;
  left: 31.5%;
}
.q10-9 {
  position: absolute;
  padding: 5px;
  top: 6%;
  left: 26%;
}
.q11-9 {
  position: absolute;
  padding: 5px;
  top: 38%;
  left: 73.5%;
}
