.q1-7 {
  position: absolute;
  padding: 5px;
  top: 14%;
  left: 31.5%;
}
.q2-7 {
  position: absolute;
  padding: 5px;
  top: 38.8%;
  left: 31.5%;
}
.q3-7 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 68.5%;
}
.q4-7 {
  position: absolute;
  padding: 5px;
  top: 32.5%;
  left: 52%;
}
.q5-7 {
  position: absolute;
  padding: 5px;
  top: 6%;
  left: 34%;
}
.q6-7 {
  position: absolute;
  padding: 5px;
  top: 53.5%;
  left: 31.5%;
}
.q7-7 {
  position: absolute;
  padding: 5px;
  top: 3%;
  left: 52%;
}
.q8-7 {
  position: absolute;
  padding: 5px;
  top: 34%;
  left: 41%;
}
.q9-7 {
  position: absolute;
  padding: 5px;
  top: 69.5%;
  left: 93%;
}
.q10-7 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 48.5%;
}
.q11-7 {
  position: absolute;
  padding: 5px;
  top: 86%;
  left: 69%;
}
.q12-7 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 41%;
}

.q13-7 {
  position: absolute;
  padding: 5px;
  top: 22%;
  left: 84.4%;
}
