.q1-10 {
  position: absolute;
  padding: 5px;
  top: 14%;
  left: 44%;
}
.q2-10 {
  position: absolute;
  padding: 5px;
  top: 56%;
  left: 49.5%;
}
.q3-10 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 67.8%;
}
.q4-10 {
  position: absolute;
  padding: 5px;
  top: 36.5%;
  left: 84.5%;
}
.q5-10 {
  position: absolute;
  padding: 5px;
  top: 67%;
  left: 76.8%;
}
.q6-10 {
  position: absolute;
  padding: 5px;
  top: 6%;
  left: 43.5%;
}
.q7-10 {
  position: absolute;
  padding: 5px;
  top: 61%;
  left: 41%;
}
.q8-10 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 51%;
}
.q9-10 {
  position: absolute;
  padding: 5px;
  top: 43.8%;
  left: 19.5%;
}
.q10-10 {
  position: absolute;
  padding: 5px;
  top: 73.5%;
  left: 77.2%;
}
.q11-10 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 31.5%;
}
.q12-10 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 31.5%;
}

.q13-10 {
  position: absolute;
  padding: 5px;
  top: 46.5%;
  left: 38.5%;
}
