.input-wrapper-wb-unit1-page8-q1 {
  width: 30px;
  position: relative;
}

.unscramble-row-wb-unit1-p8-q1 {
  display: grid;
  gap: 50px;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.img-box-wb-unit1-p8-q1 img {
  width: 90px;
  height: 90px;
  /* object-fit: fill; */
}

.WB-unit1-p8-q1-input {
  flex: 1;
  min-width: 35px; /* 🔥 كبر العرض */
  min-height: 28px; /* 🔥 كبر الارتفاع */
  border-bottom: 3px solid #000;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  padding: 2px 4px;
  position: relative;
  width: 100%;
}
.input-row-wb-unit1-p8-q1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.error-icon-wb-unit1-p8-q1 {
  position: absolute;
  right: -12px; /* يظهر بجانب الصندوق */
  top: -3%;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid white;
  font-size: 14px;
  font-weight: bold;
}
.wrong-line {
  border-bottom: 3px solid red;
}
.wb-unit7-p2-q2 {
  top: 100px;
  position: fixed;
}

.q1-2 {
  position: absolute;
  padding: 5px;
  top: 14%;
  left: 40%;
}

.q2-2 {
  position: absolute;
  padding: 5px;
  top: 68.5%;
  left: 34.5%;
}

.q3-2 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 31.5%;
}

.q4-2 {
  position: absolute;
  padding: 5px;
  top: 69.5%;
  left: 76.5%;
}

.q5-2 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 45%;
}

.q6-2 {
  position: absolute;
  padding: 5px;
  top: 53.2%;
  left: 31.5%;
}

.q7-2 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 19.5%;
}

.q8-2 {
  position: absolute;
  padding: 5px;
  top: 30%;
  left: 80.5%;
}

.q9-2 {
  position: absolute;
  padding: 5px;
  top: 74.5%;
  left: 16%;
}

.q10-2 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 31.5%;
}

.q11-2 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 31.5%;
}
