.q1-4 {
  position: absolute;
  padding: 5px;
  top: 13.5%;
  left: 33.5%;
}

.q2-4 {
  position: absolute;
  padding: 5px;
  top: 46%;
  left: 39%;
}

.q3-4 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 74.5%;
}

.q4-4 {
  position: absolute;
  padding: 5px;
  top: 45.5%;
  left: 80%;
}

.q5-4 {
  position: absolute;
  padding: 5px;
  top: 70.5%;
  left: 41%;
}

.q6-4 {
  position: absolute;
  padding: 5px;
  top: 30.5%;
  left: 31.5%;
}

.q7-4 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 51.5%;
}

.q8-4 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 31%;
}

.q9-4 {
  position: absolute;
  padding: 5px;
  top: 54.5%;
  left: 69%;
}

.q10-4 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 30.5%;
}

.q11-4 {
  position: absolute;
  padding: 5px;
  top: 3.2%;
  left: 31.5%;
}
