.q1-5 {
  position: absolute;
  padding: 5px;
  top: 14%;
  left: 38.5%;
}
.q2-5 {
  position: absolute;
  padding: 5px;
  top: 77%;
  left: 41%;
}
.q3-5 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 31.4%;
}
.q4-5 {
  position: absolute;
  padding: 5px;
  top: 74.8%;
  left: 76.5%;
}
.q5-5 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 31.5%;
}
.q6-5 {
  position: absolute;
  padding: 5px;
  top: 29.5%;
  left: 41%;
}
.q7-5 {
  position: absolute;
  padding: 5px;
  top: 68.8%;
  left: 30%;
}
.q8-5 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 79.4%;
}
.q9-5 {
  position: absolute;
  padding: 5px;
  top: 43.4%;
  left: 33.5%;
}
.q10-5 {
  position: absolute;
  padding: 5px;
  top: 68%;
  left: 32%;
}
.q11-5 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 43.5%;
}
.q12-5 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 31.5%;
}
