.q1-3 {
  position: absolute;
  padding: 5px;
  top: 21%;
  left: 24.5%;
}

.q2-3 {
  position: absolute;
  padding: 5px;
  top: 62.5%;
  left: 31.5%;
}

.q3-3 {
  position: absolute;
  padding: 5px;
  top: 5.8%;
  left: 44.5%;
}

.q4-3 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 78%;
}

.q5-3 {
  position: absolute;
  padding: 5px;
  top: 34.5%;
  left: 39%;
}

.q6-3 {
  position: absolute;
  padding: 5px;
  top: 77%;
  left: 45.8%;
}

.q7-3 {
  position: absolute;
  padding: 5px;
  top: 5.4%;
  left: 88%;
}

.q8-3 {
  position: absolute;
  padding: 5px;
  top: 58.5%;
  left: 19.5%;
}

.q9-3 {
  position: absolute;
  padding: 5px;
  top: 3%;
  left: 31.5%;
}

.q10-3 {
  position: absolute;
  padding: 5px;
  top: 3%;
  left: 41%;
}

.q11-3 {
  position: absolute;
  padding: 5px;
  top: 40.5%;
  left: 55%;
}
